# Market Cap

Data is sourced from [Macrotrends](https://www.macrotrends.net/). Steps to get the data:
* Search a random company. Inspect and open iframe in new tab.
* Change ticker and view source. There is a list of dicts available.

The purpose of this notebook is to compare the market capitalization of the largest companies in the world since approximately 2005. For some companies older data is available, but I would recommend januari 2005 as a cut-off point, because for most companies data for the period thereafter is available. Macrotrends provide weekly market caps. Be mindful that the data structure can differ slightly, so that's why we use two lists of companies for parsing.

In [1]:
import pandas as pd
import datetime as dt
import ast
import config

In [2]:
PATH = config.PATH_MARKETCAP

In [7]:
# Download company data from Macrotext and save them in a txt file with the ticker name.

companies1 = ['AAPL', 
        'ABBV',
        'AMZN', 
        'T', 
        'AZN',
        'BABA', 
        'BAC', 
        'BMY',
        'BP', 
        'BRKB',
        'C',
        'CVX', 
        'DELL',
        'DIS',
        'FB',
        'GE',
        'GOOGL', 
        'GSK',
        'HD',
        'HPQ',
        'HSBC', 
        'IBM',
        'INTC',
        'JNJ', 
        'JPM', 
        'KO',
        'LLY',
        'MRK',
        'MS',
        'MSFT',
        'NKE',
        'NVO',
        'NVS', 
        'PBR', 
        'PFE',
        'PG',
        'PTR', 
        'RDSA',
        'RY',
        'SNY',
        'SNP', 
        'TD',
        'TM',
        'TOT',
        'TSLA',
        'UNH',
        'V', 
        'WFC', 
        'WMT',
        'XOM']

companies2 = ['CHINACONSTRUCTION',
         'CHINAMOBILE', 'NESTLE', 'ICBC',
         'ROCHE', 'GAZPROM']

In [8]:
# Dict to clean the data later.

name = {'AAPL': 'Apple', 
        'ABBV': 'AbbVie',
        'AMZN':'Amazon', 
        'T':'AT&T', 
        'AZN': 'AstraZeneca',
        'BABA': 'Alibaba', 
        'BAC':'Bank of America', 
        'BMY': 'Bristol-Myers Squibb',
        'BP':'BP', 
        'BRKB':'Berkshire Hathaway',
        'CHINACONSTRUCTION':'China Construction Bank',
        'CHINAMOBILE':'ChinaMobile',
        'C':'CitiGroup',
        'CVX':'Chevron', 
        'DELL': 'DELL',
        'DIS': 'Disney',
        'FB':'Facebook', 
        'GAZPROM':'Gazprom',
        'GE':'General Electric',
        'GOOGL':'Google', 
        'GSK': 'GlaxoSmithKline',
        'HD': 'Home Depot',
        'HPQ': 'HP',
        'HSBC':'HSBC', 
        'IBM':'IBM',
        'ICBC':'Industrial and Commercial Bank of China',
        'INTC': 'Intel Corporation',
        'JNJ':'Johnson & Johnson', 
        'JPM':'JPMorgan', 
        'KO': 'Coca-Cola',
        'LLY': 'ELi Lilly',
        'MRK': 'Merck',
        'MS': 'Morgan Stanley',
        'MSFT':'Microsoft',
        'NESTLE':'Nestle',
        'NKE': 'Nike',
        'NVO': 'Novo Nordisk',
        'NVS':'Novartis', 
        'PBR':'Petrobras', 
        'PFE':'Pfizer',
        'PG':'Proctor & Gamble',
        'PTR':'Petrochina', 
        'RDSA':'Royal Dutch Shell', 
        'ROCHE':'Hoffmann-La Roche',
        'RY': 'Royal Bank of Canada',
        'SNY': 'Sanofi',
        'SINOPEC':'Sinopec',
        'SNP': 'China Petroleum & Chemical Corp', 
        'TD': 'Toronto-Dominion Bank',
        'TM':'Toyota Motors',
        'TOT': 'Total',
        'TSLA': 'Tesla',
        'UNH': 'United Health Group',
        'V':'Visa', 
        'WFC':'Wells Fargo', 
        'WMT':'Walmart',
        'XOM':'ExxonMobile'  
        }

sector = {'AAPL': 'Tech', 
        'ABBV': 'Pharma',
        'AMZN':'Tech', 
        'T':'Tech', 
        'AZN': 'Pharma',
        'BABA': 'Tech', 
        'BAC':'Finance', 
        'BMY': 'Pharma',
        'BP':'Oil', 
        'BRKB':'Finance',
        'CHINACONSTRUCTION':'Finance',
        'CHINAMOBILE':'Tech',
        'C':'Finance',
        'CVX':'Oil', 
        'DELL': 'Tech',
        'DIS': 'Other',
        'FB':'Tech', 
        'GAZPROM':'Oil',
        'GE':'Other',
        'GOOGL':'Tech', 
        'GSK': 'Pharma',
        'HD': 'Other',
        'HPQ': 'Tech',
        'HSBC':'Finance', 
        'IBM':'Tech',
        'ICBC':'Finance',
        'INTC': 'Tech',
        'JNJ':'Pharma', 
        'JPM':'Finance', 
        'KO': 'Other',
        'LLY': 'Pharma',
        'MRK': 'Pharma',
        'MS': 'Finance',
        'MSFT':'Tech',
        'NESTLE':'Other',
        'NKE': 'Other',
        'NVO': 'Pharma',
        'NVS':'Pharma', 
        'PBR':'Oil', 
        'PFE':'Pharma',
        'PG':'Other',
        'PTR':'Oil', 
        'RDSA':'Oil', 
        'ROCHE':'Pharma',
        'RY': 'Finance',
        'SNY': 'Pharma',
        'SINOPEC':'Oil',
        'SNP': 'Oil', 
        'TD': 'Finance',
        'TM':'Other',
        'TOT': 'Oil',
        'TSLA': 'Other',
        'UNH': 'Other',
        'V':'Finance', 
        'WFC':'Finance', 
        'WMT':'Other',
        'XOM':'Oil' 
}

In [14]:
# Import and parse data to create a dataframe with all companies and historical market caps

companies = []

for company in companies2:
    ini_file = open(PATH + company + '.txt', 'rt')
    ini_list = ini_file.read()
    com = ast.literal_eval(ini_list)
    df = pd.DataFrame.from_records(com)
    df = df.rename(columns={0: 'date', 1 : 'value_in_billion_dollars'})
    df['date'] = pd.to_datetime(df.date, unit='ms').dt.date
    df['value_in_billion_dollars'] = df['value_in_billion_dollars'] / 1000
    df['company'] = company
    df['sector'] = df['company'].map(sector)
    companies.append(df)
    
for company in companies1:

    ini_file = open(PATH + company + '.txt', 'rt')
    ini_list = ini_file.read()
    
    com = ast.literal_eval(ini_list)
    df = pd.DataFrame(com)
    df = df.rename(columns={'v1': 'value_in_billion_dollars'})
    df['company'] = company
    df['sector'] = df['company'].map(sector)
    companies.append(df)



companies = pd.concat(companies)
companies['company'] = companies['company'].replace(name)
companies.head()

         date  value_in_billion_dollars                  company   sector
0  2009-02-12                123.196670  China Construction Bank  Finance
1  2009-03-03                114.293786  China Construction Bank  Finance
2  2009-03-27                142.686768  China Construction Bank  Finance
3  2009-04-06                149.183468  China Construction Bank  Finance
4  2009-04-20                145.285448  China Construction Bank  Finance

In [18]:
companies.to_csv(PATH + 'companies_for_leon.csv')

In [15]:
# Set date and index so we can group companies later

companies['date'] = pd.to_datetime(companies['date'])
companies = companies[companies['date'] > '2005-01-01']
companies = companies.set_index('date')

In [16]:
# cluster to time period

df = companies.groupby('company')['value_in_billion_dollars'].resample('y').mean().reset_index()

# I'm interested in quarterly data
#df['date'] = df['date'].dt.to_period('Q')
df.head()

  company       date  value_in_billion_dollars
0    AT&T 2005-12-31                 79.357435
1    AT&T 2006-12-31                113.600518
2    AT&T 2007-12-31                241.248566
3    AT&T 2008-12-31                197.285020
4    AT&T 2009-12-31                151.125595

In [13]:
# Save data

df.to_csv(PATH + 'cap_per_year.csv', index=False)

In [ ]:
# For use in Gapminder, the 'Q' in quarters must be lowercase

df = pd.read_csv(PATH + 'cap_per_quarter.csv')
df['date'] = df['date'].str.replace('Q', 'q')
df.to_csv(PATH + 'cap_per_quarter.csv', index=False)